.obsidian/
.obsidian*/
.vscode/
.stfolder/
.stversions/
.trash/
logseq/
local/*
inbox/*
journals/*
!jottings.md
private/
media/
exports/
archives/*
_notion-like-tables/
ext/*
.DS_Store
.sync.ffs_db
.$*
*.mp3
*.mp4
*.mkv
*.mov
*.flv
